.edit {
  width: 75px;
  float: right;
  margin-left: 20px;
}

input {
  border-radius: 5px;
  width: 200px;
  height: 35px;
  font-size: 25px;
  margin-left: 20px;
}

label {
  font-size: 20px;
}

.viewLabel {
  text-align: right;
}

.rightViewLabel {
  text-align: left;
}

.viewText {
  font-size: 20px;
}

.title {
  text-align: left;
  margin: 5%;
  font-size: 25px;
}

hr { 
  border-top: 1px solid #006775; 
}

.audio {
  text-align: left;
  margin-top: 20px;
}

span {
  margin-left: 15px;
}