@import 'base';
@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body, input, textarea, button {
  font-family: Roboto, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  text-align: center;
}

.page {
  height: 100%; 
  display: flex; 
  flex-direction: column;
  flex: 1;
}

.content {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  flex-grow: 1;
  background-color: white;
}

.headerButton {
  align-self: flex-end;
  margin: 10px 0 10px 10px;
}

.verticalLine {
  border-right: thick solid #006775;
}

.tags {
  position: relative;
}

/* Styles for the input */
.tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}

.tagInputField {
  font-size: 20px;
  margin-left: 0;
}

.tagsSelected {
  text-align: left;
}

.tagSingle {
  padding: 0 5px;
}

.tagRemove {
  padding: 5px;
}