@import 'base';
@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body, input, textarea, button {
  font-family: Roboto, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  text-align: center;
}

.page {
  height: 100%; 
  display: flex; 
  flex-direction: column;
  flex: 1;
}

.content {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  flex-grow: 1;
  background-color: white;
}

.headerButton {
  align-self: flex-end;
  margin: 10px 0 10px 10px;
}

.verticalLine {
  border-right: thick solid #006775;
}

.tags {
  position: relative;
}

/* Styles for the input */
.tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}

.tagInputField {
  font-size: 20px;
  margin-left: 0;
}

.tagsSelected {
  text-align: left;
}

.tagSingle {
  padding: 0 5px;
}

.tagRemove {
  padding: 5px;
}

.table {
  margin-bottom: 0 !important;
}

.react-bs-table-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}

.entityName {
  margin: 0 10px;
}

input {
  border-radius: 5px;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 10px;
}

label {
  font-size: 20px;
}

.viewLabel {
  text-align: right;
  padding-top: 6px;
}

.rightViewLabel {
  text-align: left;
}

.viewText {
  font-size: 16px;
}

.title {
  text-align: left;
  margin: 5%;
  font-size: 25px;
}

hr { 
  border-top: 1px solid #006775; 
}

.info-hr {
  margin: 5px 0 5px 10%;
  width: 80%;
}

.create-hr {
  margin: 10px 0 10px 10%; 
  width: 80%;
}

.edit {
  width: 75px;
  float: right;
  margin-left: 20px;
}

