.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.header-text {
	text-align: left;
	padding-left: 5vw;
}

.header {
	background-color: #00B2CA;
	padding-top: 5px;
	display: flex;
	justify-content: space-between;
  align-items: center;  
  color: white;
}

.header-left {
  display: flex;
  width: 100%;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-right: 2%;
}

.org-selector {
  flex-grow: 1;
  padding: 0 100px;
}

.nav-dropdown {
	width: 15vw;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 25px;
  left: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #b8b7ad;
  padding: 0.8em;
  margin-left: 10px;
  font-weight: 700;
}